<html ng-app="tripbuddy">
    <head>
        <title>Trip Buddy - Event List</title>

        <!-- JQuery (jquery.com) -->
        <script type="text/javascript"
                src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

        <!-- Angular (angularjs.org) -->
        <script type="text/javascript"
                src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>

        <!-- AngularUI (angularui.org) -->
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js"></script>
        <script type="text/javascript"
                src="/lib/ng-grid-latest.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css">

        <!-- Closure (for Testing) -->
        <script type="text/javascript">
            var CLOSURE_NO_DEPS = true;
            var CLOSURE_BASE_PATH = "/lib/closure-library/closure/goog";
        </script>
        <script type="text/javascript" href="/lib/closure-library/closure/goog/deps.js"></script>

        <!-- TripBuddy Application Code (contains Closure) -->
        <script type="text/javascript" src="/src/events_page_script.js"></script>
        <link rel="stylesheet" href="/src/events_page_style.css">
    </head>
    <body>
        <page></page>
    </body>
</html>