<div class="lair-page-header">
    <div class="lair-page-header-title">TripBuddy - {{ pageState.title }}</div>
    <div class="lair-page-header-toolbar">
        <div class="btn-group lair-page-header-toolbar-section">
            <button type="button" class="btn" ng-model="pageState.activePage" btn-radio="'locations'">Locations</button>
            <button type="button" class="btn" ng-model="pageState.activePage" btn-radio="'events'">Events</button>
        </div>
        <div class="lair-page-header-toolbar-section" ui-view="page.toolbar"></div>
    </div>
</div>
<div class="lair-page-leftwell">
    <ui-view ui-view="page.leftwell" />
</div>
<div class="lair-page-rightwell">
    <ui-view ui-view="page.rightwell" />
</div>
<div class="lair-page-content">
    <ui-view ui-view="page.content">
</div>
<div class="lair-page-bottomwell">
    <ui-view ui-view="page.footer" />
</div>
