.lair-page-header {
    border-bottom: 1px solid lightgrey;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

.lair-page-header-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px;
    border-bottom: 1px solid lightgrey;
}

.lair-page-header-toolbar {
    padding: 4px;
}
